nav {
  display: flex;
  background-color: rgb(134, 151, 107);
  justify-content: flex-start;
  color: white;
}

body {
  margin: 0;
  font-family: system-ui, sans-serif;
  background-color: #c5c1b6;
}
